.home {
  display: grid;
  grid-template-columns: auto auto;
}

.home__conteudo {
  margin: 12rem 0rem 10rem 15rem;
  align-items: center;
  justify-content: right;
}

.home__conteudo-profissao {
  color: var(--rosa);
  font-family: "Nunito";
  font-size: 18px;
  padding-bottom: 1rem;

}

.home__conteudo-titulo {
  font-family: "Playfair";
  font-size: 50px;
  font-weight: 700;
  color: #A3C4FF;


}

.home__conteudo-texto {
  padding-top: 1rem;
  color: var(--branco);

}

.icones__home-itens {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;

}

.icones__home-link {
  margin: 1rem;
}

.home-link {
  text-decoration: none;
  color: var(--branco);
  background-color: transparent;
  padding: 0.5rem 1rem;
  border: 2px solid var(--rosa);
  border-radius: 5px;
  font-weight: bold;

}

.home-link:hover {
  background-color: #A3C4FF;
  color: var(--preto);
}

.home__foto {
  margin: 5rem 8rem 8rem 0;
  justify-content: right;
  text-align: right;
}



.home__foto-principal {
  width: 60%;
  border-radius: 15px;


}


@media screen and (max-width: 768px) {

  .home {
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    padding: auto;
    height: 100vh !important;

  }

  .home__conteudo {
    text-align: center;
    align-items: center;
    padding-bottom: 5rem;
    margin: 0;

  }

  .home__conteudo-titulo {
    font-size: 30px;
  }

  .home__conteudo-texto {
    display: none;
  }

  .icones__home-itens {
    justify-content: center;
  }

  .home__foto{
    align-items: center;
    text-align: center;
    margin: 0;
  }

  .home__foto-principal {
    width: 200px;
    border-radius: 15px;

  }

  .icones__home-itens {
    display: flex;

  }


  .home__conteudo {
    margin: 4rem;
  }


}