.rodape {
    margin-top: 2rem;
    border-top: 1px solid var(--cinza-escuro);
    display: flex;
    justify-content: center;

}

.rodape__texto {
    margin: 1rem;
}


.rodape__imagens-itens {
    display: flex;
    margin: 1rem;

}

.rodape-link {
    margin: 0 0.5rem;
    color: var(--preto);

}

@media screen and (max-width: 450px) {}